body{
  background-color: rgb(221, 221, 221);  
  margin: 0;
}

h1, h3{
    color: rgb(65, 65, 65);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    letter-spacing:7px;
    margin:0px;
    padding-left: 10px;
    padding-top: 10px;
}

h2{
  color: rgb(65, 65, 65);
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
}

ul{
  list-style: none;
  margin: 0;
  display: flex;
}

li{
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  margin: 10px;
  color: rgb(65, 65, 65);
}

#menu{
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgb(65, 65, 65);
}

#formation{
  padding-left: 10px;
}

#crea{
  padding-top: 10px;
}

a{
  text-decoration: none;
  color: rgb(65, 65, 65);
}

#projets h1{
  color: rgb(65, 65, 65);
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
}

.listeProj{
  list-style: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime les marges par défaut */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes de même largeur */
    gap: 20px; /
}

.listeProj li {
  background: #f9f9f9;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.listeProj h3 {
  margin: 0 0 10px;
}

.listeProj img {
  max-width: 100%; /* S'assure que l'image reste dans son conteneur */
  height: auto;
  border-radius: 5px;
}

p{
  font-size: 18px;
  color: rgb(65, 65, 65);
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-style: normal;
}









